@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  font-family: 'Roboto', sans-serif;
	background-size: cover;
}

h2{
	margin-bottom: 40px;
}

h2, label{
	font-weight: 700;
}

.btn-default{
	font-weight: 400;
}


form > h2{
	text-align: center;
	color: #000;
}

label{
	color: rgba(0, 0, 0, .7);
}

.well{
	border: 20px solid hsla(0, 0%, 100%, .2);
	background: hsla(0, 0%, 100%, .5);
	background-clip: padding-box;
	border-radius: 45px;
}

.form-control{
	background-color: transparent;
	border: none;
	box-shadow: none;
	border-bottom: 1px solid #000;
	border-radius: 0;
}

.form-control{
	color: #000;
}

.form-control:hover,
.form-control:active,
.form-control:focus{
	color: black;
}

.btn-default {
  color: #007aff;
  background-color: #fff;
  border-color: #007aff;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  color: #fff;
  background-color: #007aff;
  border-color: #007aff;
}













